<form [formGroup]="personForm" (ngSubmit)="Save()" id="personForm" novalidate>

    <div class="form-group">
      <!--<div class="d-flex flex-column">
      <label class="control-label" for="Surname">Surname</label>
      <input class="form-control" formControlName="Surname" type="text" style="width: 100%">
    </div>-->
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="Name" placeholder="name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Surname</mat-label>
          <input matInput formControlName="Surname" placeholder="surname">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="Email" placeholder="email">
        </mat-form-field>
      </p>
      <!-- <p>
        <mat-label *ngIf="updateFlag">Active</mat-label>
        <br>
        <mat-radio-group aria-label="Select an option" formControlName="Active" *ngIf="updateFlag">
          <mat-radio-button value=true>Yes</mat-radio-button>
          <mat-radio-button value=false>No</mat-radio-button>
        </mat-radio-group>
      </p> -->
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Birth date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="BirthDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>User Title Description</mat-label>
          <input matInput formControlName="UserTitleDescription" placeholder="User Title Description">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>User Type Description</mat-label>
          <input matInput formControlName="UserTypeDescription" placeholder="User Type Description">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>User Type Code</mat-label>
          <input matInput formControlName="UserTypeCode" placeholder="User Type Code">
        </mat-form-field>
      </p>
    </div>
    <div class="row">
  
    </div>
    <button type="submit" id="save" mat-raised-button color="primary" *ngIf="!updateFlag">Create</button>
    <button type="submit" id="update" mat-raised-button color="primary" *ngIf="updateFlag">Update</button>
    <button  type="button" id="cancel" mat-raised-button color="warn" (click)="Cancel()">Cancel</button>
  </form>
  